.modal {
  display: flex;
  visibility: visible;
  opacity: 1;
  padding: 0;
  transition: all 0.2s;
  transform: scale(1) translate3d(0, 0, 0);

  &.full-height {
    height: 100vh;
  }

  &.full-width {
    max-width: 100%;
    min-width: 100%;
  }
}

.modal-overlay {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}

.modal-overlay.hidden {
  opacity: 0;
  visibility: hidden;

  > .modal {
    opacity: 1;
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@include breakpoint(medium) {
  .modal-overlay.hidden {
    opacity: 0;
    visibility: hidden;

    > .modal {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, 0, 0);
    }
  }
}




